@using SachOnline.Models
@model List<GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center;">THÔNG TIN GIỎ HÀNG</h2>
<table border="1">
    <tr style="background-color: #9ca1a4; font-size: 15px; font-weight:bold; text-align:center;">
        <td>Mã Sách</td>
        <td>Tên Sách</td>
        <td>Ảnh Bìa</td>
        <td>Số Lượng</td>
        <td>Đơn Giá</td>
        <td>Thành Tiền</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td align="center">@item.iMaSach</td>
            <td>@item.sTenSach</td>
            <td><img src="~/Images//@item.sAnhBia" style="width:100px;" /></td>
            @using (Html.BeginForm("CapNhatGiohang", "GioHang", new { iMaSach = item.iMaSach }))
            {
                <td align="center">
                    
                </td>
            }
            <td align="center">@item.iSoLuong</td>
            <td align="center">@string.Format("{0:#,##0,0}", @item.dDonGia)</td>
            <td align="center">@string.Format("{0:#,##0,0}", @item.dThanhTien)</td>
        </tr>
    }
    <tr>
        <td colspan="3" style="text-align:right; color:red; font-weight:bold; padding-right:5px;">
            Tổng số lượng: @string.Format("{0:#,##0}", @ViewBag.TongSoLuong)
        </td>
        <td colspan="3" style="text-align:right; color:red; font-weight:bold; padding-right:5px;">
            Tổng tiền: @string.Format("{0:#,##0}", @ViewBag.TongTien)
        </td>
    </tr>
    <tr style="font-weight:bold; color: blue; text-align: center;">
        <td colspan="9">
            @Html.ActionLink("Đặt hàng", "DatHang", "GioHang")

        </td>
    </tr>
</table>

