@model IEnumerable<SachOnline.Models.SACH>

<div class="container">
    <div class="row">
        @foreach (var sach in Model)
        {
            <div class="col-lg-6 col-md-6">
                <div class="media-object-default">
                    <div class="media">
                        <div class="media-left"> <a href="@Url.Action("ChiTietSach", "SachOnline", new {MaSach= sach.MaSach})"> <img class="media-object imgsachbannhieu" src="~/Images/@sach.AnhBia" alt="placeholder image"> </a> </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="@Url.Action("ChiTietSach", "SachOnline", new {MaSach= sach.MaSach})">@sach.TenSach</a></h4>
                            @sach.MoTa
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hidden-md hidden-lg">
        }
    </div>
</div>

<!--
   <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="media-object-default">
                @foreach (var sach in Model.Take(3))
                {
                    <div class="media">
                        <div class="media-left"> <a href="#"> <img class="media-object imgsachbannhieu" src="~/Images/@sach.AnhBia" alt="placeholder image"> </a> </div>
                        <div class="media-body">
                            <h4 class="media-heading">@sach.TenSach</h4>
                            @sach.MoTa
                        </div>
                    </div>
                }
            </div>
        </div>
        <hr class="hidden-md hidden-lg">
        <div class="col-lg-6 col-md-6">
            <div class="media-object-default">
                @foreach (var sach in Model.Skip(3))
                {
                    <div class="media">
                        <div class="media-left"> <a href="#"> <img class="media-object imgsachbannhieu" src="~/Images/@sach.AnhBia" alt="placeholder image"> </a> </div>
                        <div class="media-body">
                            <h4 class="media-heading">@sach.TenSach</h4>
                            @sach.MoTa
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
    </div>

-->
